#root{
    width: 80rem;
    height: auto;
    border: 3px solid rgb(207, 181, 133);
    border-radius: 4rem;

    margin: auto;
    margin-top: 20rem;
    padding: 2rem;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.tarjetas{
    width: 10rem;
    height: 10rem;
    border-radius: 1rem;
    -webkit-box-shadow: 10px 10px 5px -4px rgb(207, 181, 133);
    -moz-box-shadow: 10px 10px 5px -4px rgb(207, 181, 133);
    box-shadow: 10px 10px 5px -4px rgb(207, 181, 133);
    cursor: pointer;
    
    font-size: 3rem;
    margin: 1rem;

    display: flex;
    justify-content: center;
    align-items: center;
}

.tarjetas:hover{
    background-color: rgb(240, 227, 203);
}